@font-face {
  font-family: Norse-Bold;
  src: url(./assets/Norse-Bold.otf);
}

body {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  margin: 0;
}

.left {
  width: 35%;
  height: 100vh;
  background-image: url(./assets/neom-xhMz5xIbhRg-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  height: 200px;
  gap: 10px;
  padding-right: 10px;
  position: relative;
  top: 150px;
  font-family: Norse-Bold;
  font-size: 2rem;
  overflow: hidden;
}

.banner img {
  height: 75%;
}

.right {
  height: 100vh;
}
